@import "../utils/colors";
body {
    background-color: $primary;
    color: azure;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    // color: $color-text;
}

.heroicon {
    height: 24px;
}

.min-h-screen {
    min-height: 100vh;
}
