@import "../utils/colors";
body {
    background-color: $primary;
    color: azure;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    // color: $color-text;
}

a {
    text-decoration: none;
}

.heroicon {
    height: 24px;
}

.min-h-screen {
    min-height: 100vh;
}

input, textarea {
    width: 100%;
    padding: 0.5rem 0.75rem;
    border-radius: 0.45rem;
    border: 2px solid;
    margin-bottom: 0.5rem;
}

label {
    color: $primary;
    font-size: 1.2rem;
    font-weight: 600;
}

.btn-primary {
    background-color: #efd372;
    padding: 0.5rem 1.5rem;
    border-radius: 0.45rem;
}

table.basic {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #ddd;
    padding: 0.5rem;


    thead {
        background-color: #ddd;
        color: #274c5b;
        font-weight: 700;
        font-size: 1.1rem;
    }
    tr td {
        border: 1px solid #ddd;
        padding: 0.5rem;
    }

    a {
        background-color: #efd372;
        padding: 0.2rem 0.5rem;
        border-radius: 0.45rem;
    }
}